
\.idea/

*.toc

*.zip

*.pyo

*.pkg

src/__pycache__/main\.cpython-36\.pyc

src/app\.tar\.xz

*.spec

*.pyz

src/build/main/warn-main\.txt

*.html

src/demo/__pycache__/

src/demo/build/demo/

src/demo/
